<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.dao.TypeDao">
	<sql  id="col">
		t_id AS id,
		t_name AS name,
		t_desc AS tDesc
	</sql>
	<select id="findByNormal" resultType="com.oracle.hrb.bean.NotebookType">
		select <include refid="col"/> from cn_notebook_type  where t_name = 'normal';
	</select>
	<select id="findBySpecial" resultType="com.oracle.hrb.bean.NotebookType">
		select <include refid="col"/> from cn_notebook_type  where t_name != 'normal';
	</select>

</mapper>
